<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.16.1" targetFramework="net40-Client" />
  <package id="AutoFixture.AutoMoq" version="2.16.1" targetFramework="net40-Client" />
  <package id="Moq" version="4.0.10827" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.2" targetFramework="net40-Client" />
</packages>